<div class='card'>
<div class='card-header'>
  {{pageTitle}}
</div>
<div class='card-body'>

  <div class='table-responsive'>
    <table class='table'
           *ngIf='recipes && recipes.length'>
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Estimated Time to Complete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let recipe of filteredRecipes'>
          <td><input type="checkbox" aria-label="Checkbox for following text input">
          </td>
          <td>{{ recipe.Name }}</td>
          <td>{{ recipe.Estimated_time }}</td>
        </tr>
      </tbody>
      <a class='nav-link' routerLinkActive='active' [routerLink]="['/ingredients']">
        <button type="button" class="btn btn-primary" >Generate Shopping list</button>
      </a>
    </table>
  </div>
</div>
</div>

<div *ngIf='errorMessage'
   class='alert alert-danger'>
Error: {{ errorMessage }}
</div>
